<ngx-spinner type="ball-clip-rotate" [fullScreen]="true" size="large" color="#fff">
    <h2 style="color: white;">Carregando...</h2>
  </ngx-spinner>
  
  <mat-sidenav-container class="sidenav-container" fxFlexFill style="overflow: visible;">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
       <app-sidemenu></app-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content>
       <div class="container">
          <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
 </mat-sidenav-container>
  