.dialog-header {

   h2 {
      padding: 0;
      margin: 0;
   }
}

mat-dialog-content {
   height: 100%;
}

mat-dialog-actions {
   padding: 0 20px 24px;
}

textarea {
   overflow: hidden;
   resize: none;
}

.attach-container {
   width: 468px;

   mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
   }

   p {
      margin: 0;
   }
}