<div [formGroup]="form">
   <div class="dialog-header flex justify-between items-baseline px-6">
      <h2 mat-dialog-title>Adicionar publicação</h2>
      <mat-icon (click)="closeModal()" class="hover:cursor-pointer">close</mat-icon>
   </div>

   <mat-dialog-content>
      <div class="description">
         <textarea (input)="autoGrow($event)" class="w-full border-[1.5px] p-3 rounded border-gray-200 outline-none"
            formControlName="description"></textarea>
      </div>
      <div
         class="attach-container border-[2px] border-dashed border-[#1B4588] py-16 px-6 gap-2 flex flex-col justify-center items-center">
         <input type="file" (change)="onFileSelected($event)" class="hidden" #fileInput>
         <mat-icon color="primary" (click)="fileInput.click()">upload_file</mat-icon>
         <p>Arraste a(s) foto(s) aqui ou <span style="color: #1B4588">navegue</span></p>
      </div>
      @if(imageUrl) {
      <img [src]=" imageUrl" alt="Selected Image" class="mt-4">

      }
   </mat-dialog-content>

   <mat-dialog-actions style="display: flex; justify-content: space-between;">
      <!-- <div class="attach">
         <mat-icon fontSet="material-icons-outlined" class="cursor-pointer text-[#909090] hover:text-[#5f5f5f]"
            (click)="fileInput.click()">add_photo_alternate</mat-icon>
      </div> -->
      <button mat-flat-button color="primary" class="ms-auto" (click)="publishPost()">Publicar</button>
   </mat-dialog-actions>
</div>