/* Welcome Container */
.welcome-container {

   .welcome-text {
      font-size: 72px;
   }

   .sign-up-text {
      font-size: 20px;
   }
}

.col-span-4 {
   background-color: #fafcff;
}

.col-span-8 {
   background: url('/assets/img/login_background.jpg');
   background-size: cover;
}