<main class="container mx-auto px-8 py-8">
    <div class="flex flex-wrap items-center justify-between">
        <h1>Partidos</h1>
        <button
            class="border-[2px] border-[#1B4588] text-[#1B4588] px-6 py-2 rounded-lg hover:bg-[#1B4588] hover:text-white"
            [routerLink]="['/parties-creation']" routerLinkActive="router-link-active">Novo Partido</button>
    </div>

    <div class="filter grid grid-cols-12 mt-7 container gap-5">
        <div class="col-span-4">
            <label for="city">Nome</label>
            <input type="text" class="container px-3 h-12 input shadow rounded-lg" placeholder="Nome">
        </div>
        <div class="col-span-4">
            <label for="city">Partido</label>
            <select class=" container px-3 h-12 input shadow rounded-lg">
                <option value="" selected disabled></option>
                @for(party of parties; track party) {
                <option value="">{{party.name}} - {{party.acronym}}</option>
                }
            </select>
        </div>
        <div class="col-span-4">
            <label for="city">Cargo</label>

            <select class=" container px-3 h-12 input shadow rounded-lg">
                <option value="" selected disabled></option>
                @for(office of offices; track office) {
                <option value="">{{office.name}}</option>
                }
            </select>
        </div>
        <div class="col-span-6">
            <label for="city">Estado</label>
            <select class=" container px-3 h-12 input shadow rounded-lg" [(ngModel)]="selectedStateId"
                (change)="onStateChange()">
                <option value="" selected disabled></option>
                @for(state of states; track state) {
                <option [value]="state.id">{{state.name}} - {{state.uf}}</option>
                }
            </select>
        </div>
        <div class="col-span-6">
            <label for="city">Cidade</label>
            <select class=" container px-3 h-12 input shadow rounded-lg">
                @for(city of cities; track city) {
                <option value="">{{city.name}}</option>
                }
            </select>
        </div>

        <div class="col-span-2">
            <button class="container bg-[#1B4588] hover:bg-[#163970] text-white h-12 rounded-lg">Buscar</button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="w-full mt-7 shadow">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let item">
                <span>{{item.name}}</span>
            </td>
        </ng-container>

        <!-- Acronym Column -->
        <ng-container matColumnDef="acronym">
            <th mat-header-cell *matHeaderCellDef> Acrônimo </th>
            <td mat-cell *matCellDef="let item">
                <span>{{item.acronym}}</span>
            </td>
        </ng-container>

        <!-- Founding Date Column -->
        <ng-container matColumnDef="founding_date">
            <th mat-header-cell *matHeaderCellDef> Data de Fundação </th>
            <td mat-cell *matCellDef="let item">
                <span>{{item.founding_date | date: 'dd/MM/yyyy'}}</span>
            </td>
        </ng-container>

        <!-- Founders Column -->
        <ng-container matColumnDef="founders">
            <th mat-header-cell *matHeaderCellDef> Fundadores </th>
            <td mat-cell *matCellDef="let item">
                <span>{{item?.founders}}</span>
            </td>
        </ng-container>

        <!-- City and UF Column -->
        <ng-container matColumnDef="city_uf">
            <th mat-header-cell *matHeaderCellDef> Cidade / Estado </th>
            <td mat-cell *matCellDef="let item">
                @if (item.city && item.state) {
                <span>{{item?.city?.name}}, {{item?.state?.uf}}</span>
                }
            </td>
        </ng-container>

        <!-- Statute Column -->
        <ng-container matColumnDef="statute">
            <th mat-header-cell *matHeaderCellDef> Estatuto </th>
            <td mat-cell *matCellDef="let item">
                <span class="nome">{{item.statute}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</main>